server:
  port: 8080
  undertow:
    threads:
      io: 4
      worker: 20

spring:
  application:
    name: eurobite
  
  datasource:
    url: jdbc:postgresql://localhost:5432/eurobite
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  
  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    locations: classpath:db/migration

  data:
    redis:
      host: localhost
      port: 6379

  cache:
    type: redis

  threads:
    virtual:
      enabled: true

logging:
  level:
    com.eurobite: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG

eurobite:
  path: /tmp/eurobite/images/
